.hrtag {
  background-color: darkgray;
  margin-left: 25px;
  max-width: 90%;
}
.postProfileImage {
  width: 40px;
  height: 40px;
}
.comments{
 margin-left: 220px;
}
.usercomment{
  /* margin-top: 10px; */
  background: scroll rgb(236, 231, 231);
  /* max-width: 190px; */
  border-radius: 5px;

 
}
