.filmname{
    color:rgb(255, 103, 0) ;
    cursor: pointer;
    
}
.film1{
    cursor: pointer;
    color: aliceblue;
}
.adminnavbarmain{
    /* width: 100%; */
    font-family: 'jost', sans-serif;
    background:linear-gradient(to bottom, #0f0c29, #302b63 , #0f0c29) ;
    /* position: fixed; */
  
}
.buttonicons{
    color: rgb(245, 248, 246);
}
