.filmname{
    color:rgb(255, 103, 0) ;
    cursor: pointer;
    
}
.film1{
    cursor: pointer;
    color: aliceblue;
}
.adminnavbarmain{
    /* width: 100%; */
    font-family: 'jost', sans-serif;
    background:linear-gradient(to bottom, #4e73df, #4e73df , #4e73df) ;
    /* position: fixed; */
  
}
.buttonicons{
    color: rgb(245, 248, 246);
}
